name: gh-pages

on:
  push:
    branches: [ pages ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install dependencies
        run: npm install
      - name: Deploy GitHub Pages
        run: dev/deploy_gh_pages.sh
